<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyx" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--短信验证-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <application
        android:name="com.zyx.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_wdb_h"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zyx.wdb.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--短信验证-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!-- 登录 -->
        <activity
            android:name="com.zyx.fragment.login.LoginFragmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 注册 -->
        <activity
            android:name="com.zyx.fragment.login.RegisterFragmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 设置密码 -->
        <activity
            android:name="com.zyx.fragment.login.SettingsPasswordFragmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 商品详情 -->
        <activity
            android:name="com.zyx.fragment.product.ProductFragmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 确认订单 -->
        <activity
            android:name="com.zyx.fragment.product.ProductOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 个人信息 -->
        <activity
            android:name="com.zyx.fragment.me.FragmentMeInfo"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 我的订单 -->
        <activity
            android:name="com.zyx.fragment.Order.OrderFragmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 欢迎界面 -->
        <activity
            android:name="com.zyx.wdb.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 订单成功界面 -->
        <activity
            android:name="com.zyx.fragment.product.OrderSuccess"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 订单详情界面 -->
        <activity
            android:name="com.zyx.fragment.Order.DetailOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 取消订单 -->
        <activity
            android:name="com.zyx.fragment.Order.CancleOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>


        <!-- 我的账单 -->
        <activity
            android:name="com.zyx.fragment.repay.FragmentRepayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 账单详情 -->
        <activity
            android:name="com.zyx.fragment.repay.FragmentDetailRepay"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 历史账单 -->
        <activity
            android:name="com.zyx.fragment.repay.FragmentRecordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 本笔账单详情 -->
        <activity
            android:name="com.zyx.fragment.repay.FragmentDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

    </application>

</manifest>
